:root {
    --base-color: #262626;
  }



body {
    background-color: var(--base-color);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: white;
    font-family: 'Arial', sans-serif;
    /*Robot ist eine Schriftart*/

    /* border: 1px solid aliceblue; */
}


.wrapper {
    max-width: 900px;
    margin: 0 auto;
    color: white;   
    display: grid;
    grid-template-rows: 45vh 10vh 45vh;
    -webkit-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.36);
}

.player {
    height: 45vh;
    display: grid;
    justify-content: center;
    cursor: pointer;
    -webkit-box-shadow: var(--shadow-inset-wait);
    box-shadow: var(--shadow-inset-wait);
    background-color: hsla(41, 96%, 55%, 0.861);
}

.player1 {

    transform: rotate(180deg);

}

.time {
    align-items: center;
    font-size: clamp(60px, 13vw, 120px);
    letter-spacing: .0em;
}

.count {
    font-size: 18px;
    text-align: center;
    align-self: end;
}

.delay{
    font-size: 24px;
    text-align: center;
}


/**** ON PLAY TOOGLE ***/ 

.play{
    background-color: rgba(157, 165, 167, 0.414);
    box-shadow: var(  --shadow-inset-press);

}


.settings {
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 

    background-color: var(--base-color);
    border-top: 2px solid var(--base-color);

}



.wrapper string {
    display: inline-block;

}


.settingObj {
    display: flex;
    justify-content: center;
    align-items: center;

 
}


.settingObj img {
    height: 40px;
    max-height: 8vw;
    cursor: pointer;
}

.settingObj#reset img {
    transform: rotateY(180deg);
}



@media screen and (max-width: 500px){
    
}



.time {
    display: flex;
    align-items: center;
}

.timeField {
    color: black;
    width: 40px;
}